<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    tools:ignore="Instantiatable"
    >

    <!--&lt;!&ndash; U盘操作 &ndash;&gt;
  <uses-permission
      android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
      tools:ignore="ProtectedPermissions" /> &lt;!&ndash; 悬浮窗 &ndash;&gt;
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> &lt;!&ndash; 网络权限 &ndash;&gt;
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" /> &lt;!&ndash; 读取手机权限 &ndash;&gt;
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.WRITE_CONTACTS" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.SEND_SMS" />
  <uses-permission android:name="android.permission.RECEIVE_SMS" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->

    <application
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="s">

        <!-- 注册GT悬浮窗 -->
        <service
            android:name="com.gsls.gt_toolkit.GT_Floating"
            android:exported="true" />

        <service
            android:name="com.gsls.gt.GT$EventBus$EventBusService"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.gsls.gt.EventBus" />
            </intent-filter>
        </service>

        <!-- 自动安装APK -->
        <!-- <provider
             android:name="androidx.core.content.FileProvider"
             android:authorities="com.gsls.gt.fileprovider"
             android:exported="false"
             android:grantUriPermissions="true">
             <meta-data
                 android:name="android.support.FILE_PROVIDER_PATHS"
                 android:resource="@xml/file_paths" />
         </provider>-->

        <activity
            android:name=".GT$GTActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

    </application>

</manifest>